.wetherBg{
  background: black;
  color: white;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
} 
.formcontrol{
  height: 40px; 
  width: 100%;
}
.heading{
  color:white;
  font-weight: 700;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.weathorIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weatherCity{ 
  margin-top: 30px;
  font-size: 35px;
}
.weatherTemp{
  font-size:55px;
  font-weight: 700;
}